parameters:
  level: 6

  paths:
    - web/modules/custom
    - web/themes/custom

  treatPhpDocTypesAsCertain: true

  ignoreErrors:
    # Theme preprocess functions with generic array parameters
    - '#Function arsapps_theme_preprocess_.* has parameter \$variables with no value type specified in iterable type array#'
    
    # Form API parent::submitForm call type issue
    - '#Parameter &\$form @param-out type of method .*submitForm.* expects array<string, mixed>, array given#'
    
    # PHPUnit "always true" assertions in test files
    - '#Call to method PHPUnit\\Framework\\Assert::assert.* will always evaluate to true#'

includes:
  # Let extension-installer handle this unless you're not using it
  # If you're NOT using extension-installer, you can re-enable:
  # - vendor/mglaman/phpstan-drupal/extension.neon
