parameters:
  level: 6
  paths:
    - web/modules/custom
    - web/themes/custom
    ignoreErrors:
    # Ignore missing iterable types on theme preprocess functions
    - '#Function .* has parameter \$(variables|suggestions) with no value type specified in iterable type array#'

    # Ignore misplaced @var tags above functions (common in *.theme files)
    - '#PHPDoc tag @var above a function has no effect#'

    # Ignore parameter-out mismatch for &$form in submitForm()
    - '#Parameter .*\$form by-ref type of method .*submitForm.* expects array<string, mixed>, array given#'

